[2011-02-11 03:08] dgollas opened #1 "Need more info on how to use this"
Hi, I am having trouble getting this to work.

My proxy_pass works correctly if my s3 files are marked as public (grant Everybody read) and I set the Authorization header to "".

When I set it to $s3_auth_token to access the ones that are not public, I get the following response from s3:

<Error>
<Code>SignatureDoesNotMatch</Code>

<Message>
The request signature we calculated does not match the s

[2011-07-09 12:23] #1 closed, assigned to nobody

[2013-01-22 11:45] orykami opened #3 "Compilation warning with GCC 4.7.2 on Ubuntu 12.10"
![ngx_aws_auth_gcc_error](https://f.cloud.github.com/assets/3338393/86091/0be89126-6489-11e2-9d32-ebed253539c3.png)

Hi, some trouble during compil with GCC 4.7.2 due to unused variable "t"
OS : Ubuntu 12.10

[2013-02-01 17:12] #3 closed, assigned to nobody

[2013-03-28 15:23] nonken opened #4 "Signing error when providing x-amz-acl header"
When proxying an upload with provided x-amz-acl header the signature is created incorrectly. Would be awesome if this was working.

[2013-11-22 17:05] andrea-spoldi opened #6 "Signing error if behind CloudFront"
Hi,
 it seems there is a problem with request signing if it comes from behind Amazon CloudFront service.

What I notice is the following :

HTTP_Request > Nginx with ngx_aws_auth > S3 bucket works OK

HTTP_Request > Amazon CF (distribution set to nginx) > Nginx with ngx_aws_auth > S3 bucket goes KO

here is the error from browser :

<Error>
<Code>SignatureDoesNotMatch</Code>
<Message>
The request

[2013-11-26 15:13] #6 closed, assigned to nobody

[2013-12-30 03:13] MafiaInc opened #8 "Signature Error when not using server's root location"
Hi,

I don't understand why I always get "SignatureDoesNotMatch" error from aws when trying to get object with specified location for example:

[code]
If I use / location and comment out the chop_prefix variable it's working good.
Can you help here?

[2014-03-28 18:23] ghost opened #10 "First request after nginx restart is not served"
It seems that the first nginx request after nginx initialization or restart is not served by S3 due to signature mismatch. The problem is probably caused by missing timestamp in string_to_sign even though x-amz-date header is present.
Debug log for the very first request after start or restart

[code]

Each subsequent request includes the correct timestamp from x-amz-date header

[code]

[2014-08-03 17:57] diranged opened #12 "Documentation question: Does Nginx leverage multipart downloads?"
This is mostly a question around the documentation of this module. With this plugin, is Nginx leveraging multi-part downloads for higher download speeds?

[2014-08-21 04:49] #12 closed, assigned to nobody

[2014-12-04 19:56] jyoungs opened #14 "Doesn't support new AWS regions"
Re: http://docs.aws.amazon.com/AmazonS3/latest/dev/auth-request-sig-v2.html

"...Amazon S3 now supports the latest Signature Version 4, which is supported in all regions; it is the only version supported for new AWS regions..."

Would be better if this used AuthV4:
http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html

[2015-01-29 21:20] limbo127 opened #15 "HEAD request does not work"
hello,
I do a GET request on file without problem,
the same with HEAD request does not work, with 403 forbidden error , permission is good on this file, and with same key and standard s3 client, no problem.

127.0.0.1 - - [29/Jan/2015:21:09:46 +0000] "HEAD http://s3.amazonaws.com/nhc.c1/test HTTP/1.1" 403 394 (472) "-" "-" "-"[MISS] [0 / -]  - AWS4-HMAC-SHA256 Credential=AKIAJG6NCXFPQGBUZ3YA/20150

[2015-03-06 13:36] #8 closed

[2015-03-16 04:34] bvonbose commented on #15
I was seeing this same behavior with `proxy_cache` enabled. I'm guessing it has something to do with the `rewrite` line:

    rewrite  /nhc.c1/(.*) /$1 break;

I got it to work by reintroducing the `chop_prefix` into [proxy_cache_key](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_key):

    proxy_cache_key  $scheme$proxy_host/nhc.c1/$request_uri;

[2015-04-17 19:15] bebud commented on #14
+1

[2015-04-20 10:55] anomalizer commented on #14
ACKed. I might need another 2-4 weeks before I get to this. Any pull requests are welcome.

[2015-07-17 09:01] andrea-spoldi commented on #15
+1
noticed the same, the module builds hash always with a GET, and passes it to S3 API for authentication; APIs receives the hash AND the original request, which instead is an HEAD...they mismatch and the authentication fails

[2015-07-18 00:52] eli007 opened #17 "SignatureDoesNotMatch"
following your example to the letter and providing my key, secret, and bucket information i get the following error

The request signature we calculated does not match the signature you provided. Check your key and signing method.

any ideas?

[2015-07-18 07:02] anomalizer commented on #17
Could you provide the following info:
* The nginx conf (minus the keys ofcourse)
* Your S3 region
* The S3 url that you wish to proxy to
* The request that you made to nginx (HTTP Verb and URL)

[2015-07-18 07:04] anomalizer commented on #15
adf0177 was supposed to fix this. Could you confirm if your build has this commit? Also, which region is your S3 in?

[2015-07-18 21:32] eli007 commented on #17
my regions is us-west-1

what do you mean by http verb?

location ~ ^/data/(.*)$ {
      proxy_pass http://[myBucket].s3.amazonaws.com/[key]/[key]/$1;

      aws_access_key [myKey];
      aws_secret_key [mySecret];
      s3_bucket [myBucket];
      proxy_set_header Authorization $s3_auth_token;
      proxy_set_header x-amz-date $aws_date;
    }

[2015-07-19 04:12] anomalizer commented on #17
GET, POST, HEAD etc. etc. I meant HTTP method

[2015-07-19 05:39] eli007 commented on #17
Oh I'm accessing it directly thru the URL

Www.domain.com/data/image.jpg

On Saturday, July 18, 2015, Arvind Jayaprakash <notifications@github.com>
wrote:

[2015-07-20 20:36] eli007 commented on #17
its get

<StringToSign>GETx-amz-date:Mon, 20 Jul 2015 20:35:44 GMT /axervices/photo11_2x5714619687.jpg</StringToSign>

[2015-07-22 12:55] benjaminbarbe commented on #15
+1 I use the latest version (1.1.1) with Ireland region.

[2015-07-23 14:18] benjaminbarbe commented on #15
@anomalizer Do you have an idea for a quick fix?

[2015-07-26 20:18] andrea-spoldi commented on #15
@benjaminbarbe I actually managed to "quick fix" it without touching the (great btw) ngx_aws_auth module.

Following this post:
http://serverfault.com/questions/347663/nginx-convert-head-to-get-requests

I simply perform an internal redirection converting the HEAD request to GET, it just works like a charm to me .

[2015-07-27 14:24] anomalizer commented on #15
@benjaminbarbe no quick fix at this point. Let me try to reproduce the issue specifically for *HEAD*

[2015-07-31 08:34] benjaminbarbe commented on #15
@andrea-spoldi Yes thank you but the body is still sent. Unfortunately, I can not.

I will give a try to
https://gist.github.com/skddc/c7a982226d08acd4e041
or
https://gist.github.com/justincormack/948423

@anomalizer Cool, Keep us in touch :smile:

[2015-08-18 19:46] benjaminbarbe commented on #15
@andrea-spoldi @anomalizer I think it's not the fault of the ngx_aws_auth module. I found this post [Proxy cache passes GET instead of HEAD to upstream](http://forum.nginx.org/read.php?2,247577,247577)

The problem came of the combinaison of proxy_cache and proxying to s3. I've updated skddc's gist to make it work : https://gist.github.com/benjaminbarbe/1961db5ffbaad57eff12

[2015-09-01 09:54] andrea-spoldi commented on #15
@benjaminbarbe have to check but I'm 99,9% sure that proxy_cache module is not used in my config.

[2015-09-09 06:26] zyq2007 commented on #14
+1

[2015-12-10 17:14] cap10morgan opened #18 "Non-subresource query params generate SignatureDoesNotMatch errors"
We're using this to serve a small JS webapp from S3. Its Javascript code uses a few query parameters, but when we append those to our requests, it results in SignatureDoesNotMatch errors.

An example query param that it has failed on is `foo.html?polling-location`. A request to just `foo.html` succeeds.

This is with the latest master HEAD code of this module running in nginx 1.9.3.

Let me know i

[2015-12-10 17:25] cap10morgan commented on #18
We just discovered that query params with `location` (or `website` or presumably any other signed_subresource string) at the end of the query param name causes this to fail, but otherwise they work. So it seems like the signed_subresource code just needs to ensure that it only grabs query params where the whole string matches, not just a suffix.

[2015-12-14 14:59] andrea-spoldi commented on #14
+1

[2016-01-06 21:10] ogg1e opened #19 "critical error on a GET request and having to restart nginx"
Occasionally, I'm getting this error and having to restart nginx to fix it:

[code]

[2016-02-16 16:41] xposix commented on #14
+1

[2016-02-19 03:28] higkoo opened #22 "ngx_aws_auth do not support s3 compatible protocol"
Some compatible s3 service need more conditions parameters, such as Ceph s3.

s3fs-fuse example : [https://github.com/s3fs-fuse/s3fs-fuse/issues/305](https://github.com/s3fs-fuse/s3fs-fuse/issues/305). Need sigv2 for compatible .

Otherwise, you will auth fail and receive '403 Forbidden'.

[code]

![image](https://cloud.githubusercontent.com/assets/3828931/13165701/1169fce2-d6fb-11e5-9e44-554e9fe2

[2016-04-05 13:51] anomalizer commented on #14
Update: I am working on a new branch (Authv4-dev) that is not yet complete to address this. Should have this ready in a couple of weeks time.

[2016-04-05 13:59] moos3 opened #24 "Documentation"
Can we get some documentation on how to build this and use it?

[2016-04-06 16:07] anomalizer commented on #24
The homepage (README.md) contains usage notes. Build follows the standard nginx build procedure i.e.
[code]

[2016-04-22 18:22] AlvinFeng commented on #15
I ran into this issue using proxy_cache as well. However, I fixed it rather cleanly using http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_cache_convert_head to just turn the conversion of HEADs to GETs off.

[2016-05-01 17:03] #24 closed

[2016-05-01 17:17] anomalizer commented on #14
Please start watching the branch **AuthV4**. It now has the most basic support for new regions

[2016-05-01 17:17] anomalizer commented on #17
Please start watching the branch **AuthV4**. It now has the most basic support for new regions

[2016-05-01 17:18] anomalizer commented on #19
I do not see how the aws auth module is involved in there

[2016-05-14 16:58] anomalizer commented on #18
Please try the new code on master. This should take care of your issue

[2016-05-14 16:59] #19 closed

[2016-05-14 17:00] anomalizer commented on #22
Please try the new code on master. This should take care of your issue

[2016-05-14 17:00] anomalizer commented on #14
Please try the new code on master. It is on V4 protocol and hence should work on new regions

[2016-05-14 17:01] anomalizer commented on #17
Please try the new code on master. This should take care of your issue

[2016-05-28 22:34] mostrows2 opened #26 "Credentials that required AWS_SESSION_TOKEN don't work."
I'm using temporary credentials acquired via "assume role".  I need to include AWS_SESSION_TOKEN
as part of the credentials I use.  This patch works for me.

[0001-Support-optional-AWS_SESSION_TOKEN.patch.txt](https://github.com/anomalizer/ngx_aws_auth/files/288042/0001-Support-optional-AWS_SESSION_TOKEN.patch.txt)

[2016-06-21 13:43] anomalizer commented on #26
The better way to fix this is my simply including all the *x-amz-* headers for signing

[2016-06-22 12:45] toddlers opened #27 "getting 307 Temporary Redirect"
Hi ,

I am using AuthV2 branch of this module

My nginx configuration

[code]

I am getting 307 Temporary Redirect

[code]

Anything I am doing wrong ?

[2016-06-26 13:32] anomalizer commented on #27
The regular vhost syntax is not supported outside of us-east. See this https://forums.aws.amazon.com/message.jspa?messageID=196878

Your bucket seems to be in the *ap-southeast* region.

[2016-08-03 23:41] rahulravindran0108 commented on #17
same issue here signature does not match

[2016-08-04 18:41] siulcode commented on #17
Any update on this issue, I'm getting exactly the same problem.

[2016-08-10 13:47] doubleshot opened #28 "create release for 2.0.0"
Hi, I see that you have incremented the version 2.0.0 with the latest auth_v4 rewrite, but there is no release created. Can you please create one?  Thanks

[2016-08-13 12:53] anomalizer commented on #28
Thanks for pointing this out. Tag 2.0.0 has been created

[2016-08-13 12:53] #28 closed

[2016-08-19 00:46] AlmogBaku opened #29 "other services than s3"
Why is this project is limited to S3. It'll be nice if it'll be configurable also for other services such as ElasticSearch

[2016-08-22 06:19] anomalizer commented on #29
The original scope was to limit it to S3. Feel free to provide changes that lets this works with other services.

[2016-08-25 16:22] siulcode opened #30 "What values need to go in aws_key_scope?"
I'm trying to figure out what value needs to go in:
    aws_key_scope scope_of_generated_signing_key;

is it only the region name?

[2016-08-25 16:47] siulcode commented on #30
I'm getting the following "Malformed entry" error. Any help on this would be GREATLY appreciated.

ERROR:
<Error>
<Code>AuthorizationHeaderMalformed</Code>
<Message>
**The authorization header is malformed; the Credential is mal-formed; expecting "<YOUR-AKID>/YYYYMMDD/REGION/SERVICE/aws4_request**".
</Message>
<RequestId>59D3A159DA4C78A6</RequestId>
<HostId>
/+Ern48H+67YCS+dSvGkXUtxnUUndZNAojMAnfU

[2016-08-27 12:59] chikamichi commented on #30
I've not used this nginx plugin yet, but considering to. AFAIK, the scope is of the following shape:

[code]

For instance:

[code]

[2016-09-01 05:19] duangs opened #31 "With nginx -t command error"
After the module installation:
With nginx -t command prompt
[Emerg] SSL_CTX_new () failed (SSL: error: 140A90A1: SSL routines: SSL_CTX_new: library has no ciphers)

[2016-09-02 06:41] #31 closed

[2016-09-02 13:44] anomalizer commented on #30
@chikamichi is right

[2016-09-05 07:50] ichaozai opened #32 "It's not compatible with S3 Beijing region because endpoint is hardcoding."
The endpoint of Beijing S3 endpoint is `s3.cn-north-1.amazonaws.com.cn`.
However, `s3.amazonaws.com` is hardcoding and affects the canonical headers:

[code]

It will never compute the correct signature for Beijing S3 region.
Make endpoint configurable can help to solve this problem.

[2016-09-08 19:16] siulcode commented on #30
I got it to work.

@anomalizer is continuous development still going on with this module for **_http post_**?

Thanks guys.
LL

[2016-09-27 20:27] supermasita commented on #29
Hi Anomalizer!
As it is right now, I suppose it should work for CloudFront without any changes, right?

Thanks for your work!

[2016-09-28 05:02] anomalizer commented on #32
@ichaozai your code is merged.

[2016-09-28 05:02] #32 closed

[2016-09-28 05:04] anomalizer commented on #29
@supermasita isn't cloudfront supposed to be a CDN? Why would you be running nginx as a proxy in front of cloudfront?

Also, how do expect the auth to work in this case?

[2016-09-30 04:25] anomalizer commented on #30
@siulcode I am not currently working on HTTP POST. It is fairly complex given that the post body will have to be uploaded in chunks.

[2016-09-30 19:08] philsnow commented on #26
@anomalizer can you be more specific with how you would prefer for this to be done?  `ngx_aws_auth__canonize_headers` pieces together the `x-amz-` headers from its arguments.

I would like to see this issue fixed in `master`, but don't particularly care if the above patch is merged or something else is done instead.

[2016-11-01 14:57] amaline opened #35 "SignatureDoesNotMatch on filename with space"
Receiving a SignatureDoesNotMatch when proxy_pass to a file with a space.  Seems like it is signing the canonical decoded uri instead of the encoded request uri.  Log file shows:

---
2016-11-01T14:13:38.19+0000 [App/1]      ERR 2016/11/01 14:13:38 [error] 60#0: *8 canonical url extracted is /images/global standalone2.gif, client: 127.0.0.1, server: localhost, request: "GET /images/global%20standa

[2016-11-06 01:51] jpizarrom commented on #18
I,ve the same problem. I will try to add chop prefix param

[2017-01-17 03:23] doubleshot opened #36 "tag 2.1.0"
@anomalizer  This commit https://github.com/anomalizer/ngx_aws_auth/pull/33 was a good new feature, can you please create a new tag such as 2.1.0? Thanks!

[2017-01-17 22:21] rickheil commented on #35
I can confirm that I'm having this same error.

[2017-02-02 10:54] weshmashian opened #41 "Module breaks core nginx functionality"
Compiling nginx with latest ngx\_aws\_auth module breaks core nginx functionality.

Given test vhost below (example straight from nginx documentation), expectation is that nginx will
respond with authorization request. With module compiled in, access is allowed unconditionally.

Tests with module version 1.1.1 work as expected. Examples below use module from master branch.

# Test vhost

    serve

[2017-02-03 23:27] doubleshot commented on #41
FYI, I just tested the commit before and after the 2.0.0 tag and same breakage. Looks like the v4 rewrite is at fault.

[2017-02-04 01:35] weshmashian commented on #41
I took a quick look, and it seems it's because `ngx_http_aws_proxy_sign` returns NGX_OK if module is not configured. And documentation for `satisfy` says:

Module wedges itself into `NGX_HTTP_ACCESS_PHASE` handlers and returns OK for requests it should not even be handling. At least that's how I see it.

[2017-02-11 04:26] anomalizer commented on #36
Released tag on 5896e2d9

[2017-02-11 04:26] #36 closed

[2017-02-28 21:13] bigkraig commented on #26
👍

[2017-03-19 09:48] anomalizer commented on #41
@weshmashian can we close this issue as #42 should have fixed this?

[2017-03-19 21:03] weshmashian commented on #41
The case presented in initial report is fixed:

[code]

However, if we add `aws_sign` **without** configuring the key or any of the other variables, we get the same broken behaviour back:

[code]

[code]

Lack of config sanity checks might be a separate issue, but I still do not consider this fixed. IMHO, a module meddling with authentication should not be suffering from these kinds of bugs, espec

[2017-04-08 06:19] rikewang commented on #17
I get 403 signaturenotmatch too, I use ceph rgw as S3 service, does ngx_aws_auth(V2) work well @anomalizer

[2017-04-12 08:19] anomalizer commented on #17
This plugin has never been tested with ceph rgw as a backend. Support for ceph would be a new feature

[2017-08-15 13:41] pekermert opened #43 "Couldn't signin buckets with name included double dash."
When i try to use buckets with name included double dash, i am getting 403 forbidden.
 e.g.: my-test-bucket getting 403 but my-testbucket works well with same configuration.
I am sure about given access to buckets for my secret.

my configuration like this;

[code]

Is there a restriction for bucket naming or is this a bug ?

[2017-08-15 13:45] rickheil commented on #43
I don't believe it would be - I have two dashes in a bucket that I'm using in prod.

The only thing that comes to mind is that S3 will give 307s if you have a bucket in a non-US region and are using the regional DNS name. See [this forum post](https://webcache.googleusercontent.com/search?q=cache:z-NvhiWs0t8J:https://forums.aws.amazon.com/message.jspa%3FmessageID%3D196878+&cd=1&hl=en&ct=clnk&gl=us

[2017-08-15 13:55] pekermert commented on #43
Hi @rickheil ,

I have created two bucket on eu-west-1 while testing. And they both getting 307 as you say, thanks for point to that.
I changed http code on issue. Clearly 307 is not related through this situation. Actually returned 403 for couldn't signin.

[2017-08-16 07:14] #43 closed

[2017-09-20 01:51] wow3065 opened #44 "The plugin support china region?"
server {
       listen     8000;
       aws_access_key ***************;
       aws_key_scope 20170920/cn-north-1/s3/aws4_request;
       aws_signing_key WFsSMzFYjgpJowdl+x5lMGHE6dcqAguAk+VxB0ATGx8=;
       aws_s3_bucket *********;

       location / {
          aws_sign;
          proxy_pass http://s3.cn-north-1.amazonaws.com.cn;
       }
    }

I set my nginx like this.But like this
<?xml version

[2017-09-21 04:24] pizzamax opened #45 "Size of buffer is not big enough to accomodate endpoints with long host names."
https://github.com/anomalizer/ngx_aws_auth/blob/6eea78f4337ce3b84f546da7244e194e307cfdbe/aws_functions.h#L205

When the length of endpoint hostname exceeds 40bytes, hostname to be used to sign authentication header gets truncated, this will cause SignatureDoesNotMatch error.

Would it be possible to expand the size of the buffer to safe size?

[2017-10-13 17:40] anomalizer commented on #45
Please try the latest build from master

[2017-10-21 06:05] anomalizer commented on #44
Please try the latest build from master

[2017-10-21 06:09] anomalizer commented on #44
What is the name of the S3 bucket and which region is the bucket present?

I am not familiar with any differences in AWS for China. The first thing that looks different is that the domain is *amazonaws.com.cn* but it is *s3.amazonaws.com* everywhere else

[2017-10-23 07:54] xird opened #47 "Compability problem with ngx_aws_auth and nginx-vod-module"
Hi

Here's some background about our situation: We're running a VOD streaming service. We've been successfully using the ngx_aws_auth module (https://github.com/anomalizer/ngx_aws_auth/) to authenticate proxy_passed requests to S3 API end points with parts of our video platform.

Now, we decided to try using Nginx and the Kaltura nginx-vod-module (https://github.com/kaltura/nginx-vod-module) as ou

[2017-10-23 10:49] xird commented on #47
The author of the nginx-vod-module commented on the matter in that module's issue queue: https://github.com/kaltura/nginx-vod-module/issues/717#issuecomment-338613841

What are your thoughts on the best way to fix the issue?

[2017-10-25 10:01] xird commented on #47
I've created a pull request based on instructions by @erankor. The only change is to move the auth module from NGX_HTTP_ACCESS_PHASE to NGX_HTTP_PREACCESS_PHASE. I've tested this on our server that uses both ngx_aws_auth and nginx-vod-module, and the requests to S3 are now correctly signed.

[2017-10-27 08:44] universam1 commented on #26
@anomalizer do you have a solution for this already? I'm facing this problem as well.

[2017-11-05 09:12] anomalizer commented on #47
I need some more time to understand the best way to fix this for everybody. It appears that there are two plugins fighting over who controls the access phase.

The ideal solution would be some sort of chaining of access rules. The workaround that you have found seems to be to attach one of the plugins to a different phase. This doesn't sound like the correct way to do things as this could cause is

[2017-11-05 09:39] erankor commented on #47
That is inaccurate, nginx-vod-module does not use the access phase, and even if it did, there is no problem to register multiple access phase handlers. The problem here is that the access phase is skipped for subrequests, and nginx-vod-module uses subrequests to issue the upstream requests. Any use of subrequests will not work with this module, it's not specific to nginx-vod-module.

[2017-11-10 14:13] akosveres opened #49 "Variables?"
Hi.

We'd like to set key_scope, signing_key and access_key with a variable. Based on our tests this doesn't work, one prood is :

[code]

Config is:
[code]
Are these variables supported or are we doing something wrong?

[2017-11-12 23:31] bpinske opened #50 "Causes a seg fault if an init_worker_by_lua block is present"

[2017-11-21 21:52] shupp opened #51 "Unexpected debug output?"
Hello,

I recently built this using the nginx docker image, and when testing a proxy to my S3 bucket, it appears to work, but includes some extra output.  Not sure what's happening here, but here's my curl example:

[code]

Expected:

[code]

I built from master @ f1bcf3b18ff077f0fe18256bb243d2bce05fa2ac on nginx 1.13.7 on debian (nginx docker image).

[2017-11-29 00:40] shupp commented on #51
I built the 1.1.1 tag, and it works as expected.

[2017-11-29 01:26] shupp commented on #51
This looks like log output to the console since I'm running in a container.  Sorry for the noise.

[2017-11-29 01:26] #51 closed

[2017-11-29 21:16] liz-mars commented on #49
I ran into this too. It really gave me the butthurt. Lost 2h trying to figure out what was up, only to discover that vars are not supported on this module (no, really). I'm guessing that this is an architectural flaw with nginx.

[2018-06-29 18:07] asottile commented on #26
I've revived this patch and can confirm it works: https://github.com/asottile/ngx_aws_auth/commit/768e8b6efec3a53b25ab7317ab49048a24766f81

I'm seeding this information using the aws metadata service:

[code]

[2018-07-03 07:56] daimoniac commented on #49
Got the same problem. Can I help out with fixing this issue somehow?
Or have any of you found a way around that?

[2018-11-15 16:16] y2kkarthik opened #54 "SignatureDoesNotMatch"
Hello,

I am facing SignatureDoesNotMatch error although I have followed same configurations suggested in this plugin manual.

nginx.conf
----------------------------------------------

server {
        listen 80;
        aws_access_key XXXX;
        aws_key_scope 20181116/us-east-1/s3/aws4_request;
        aws_signing_key XXXX;
        aws_s3_bucket example-nginx;

location / {
            aws_si

[2018-11-20 14:56] y2kkarthik commented on #17
I am facing same error too while using with auth v4 to s3 in us-east-1. Details in https://github.com/anomalizer/ngx_aws_auth/issues/54

Any thoughts @anomalizer ??

Regards,
Karthik

[2018-11-20 16:12] y2kkarthik commented on #17
Got that error fixed. But now it says Access Denied. Does the bucket have to be really public to work with this?

Regards,
Karthik

[2018-11-20 16:21] #54 closed

[2018-12-13 09:31] erdii commented on #24
Is there an easy way to build the project as dynamically loaded module?

[2019-01-09 17:33] anils123 opened #55 "When I configure nginx with signature calculation S3 cp fails with errors"
I configured nginx with the following configuration S3 cp with KMS encryption fails

location / {
      resolver 8.8.8.8;
      proxy_pass https://s3.amazonaws.com;
        proxy_ssl_name s3.amazonaws.com;
      proxy_pass_request_headers on;
      client_max_body_size 5G;
      proxy_send_timeout 600;
      proxy_read_timeout 600;
      proxy_intercept_errors on;
      proxy_next_upstream error t

[2019-01-16 07:09] batilei opened #56 "The best way to install this module into nginx?"
Hi, can someone provide some insight regarding how to load this module into NGINX? I do some search and find two ways:
(1)  Build a customized NGINX with source code from scratch: https://github.com/ajdruff/nginx-naxsi-rpm/blob/master/how-to-build-your-own-nginx-rpm.md
(2) Install NGINX directly "yum install nginx", then load this module into nginx
like "./configure --with-compat --add-dynamic-mod

[2019-01-16 07:36] sbagmeijer commented on #56
Not sure 100% about the "technical" differences of the two I think you can find the benefits of both somewhere on the Nginx website.

But for me, I have a yum repository so I can make different rpms for each dynamic module and that way I can update them separately from Nginx.

I personally have used both in the past and not seen any real differences performance wise so I would so just go for the o

[2019-01-16 07:56] batilei commented on #56
@sbagmeijer Thanks Sjir. I think the second one "load dynamic module into running nginx directly with several steps such as /configure --with-compat --add-dynamic-module=../ngx_aws_auth" is so straightforward. Especially compared with the first solution that need to installs all kinds of the tools, configure all sorts of files, which is so tedious. So just wondering is there any benefit going thro

[2019-01-20 16:08] zmqundead commented on #17
Try add this to nginx config:
`proxy_set_header Host $host;`

[2019-01-30 15:21] 80kk opened #57 "The request signature we calculated does not match the signature you provided"
I am have a problem using this module. My config is:

[code]
Each time when I am calling http://x.y.z/s3/
I am getting following error:
[code]

[2019-01-31 22:14] j2clerck commented on #57
Hello,

I encountered similar issue today. Something like below should work:
[code]

The module is expecting that your bucket is reached by bucket.endpoint. If endpoint doesn't exists then it should be s3.amazonaws.com

Regards,
Joseph

[2019-03-07 07:15] quydox opened #60 "AuthV2 - signed key cached"
Hello,

Please check this log file https://paste.ubuntu.com/p/J23S8jgtWP/, then search for string "3RXW5M4E5GEZAS34UC6E"

The module use the same signed key for different paths: bcn_720p.mp4 and bcn_1080p.mp4

`> curl http://api.dev.xxxx.com:8001/hls/bcn_,1080p,1080p,1080p,.mp4.urlset/master.m3u8 -I 2>/dev/null | grep HTTP
HTTP/1.1 200 OK
d4jk4@Konoha ~

HTTP/1.1 502 Bad Gateway`

Can you check th

[2019-03-07 08:23] quydox commented on #17
Hello,

Did you finish this issue?

Does it work with Ceph rwg s3?

Thanks,

[2019-04-25 23:52] laharikommi1 opened #63 "enabled variable is not merged in location configuration"
I configured 'aws_sign' in my server block  and I'm getting a 403 error since  the ngx_http_aws_proxy_sign function is returning NGX_DECLINED since conf->enabled is 0.

When I move the 'aws_sign' configuration to the location block, the request is being sent sucessfully.

Upon further debugging, I found that the enabled variable from server block is not being merged to the location configuration.

[2019-05-20 20:11] raja1128 opened #65 "nginx worker process getting killed when request has query string parameters"
Nginx worker process is getting killed, on every request with query string parameters

request: "GET /s3proxy/test.html?dc=apples HTTP/1.1"
[error] 332#332: *15 canonical qs constructed is dc=apples

*15 canonical req is GET
/s3proxy/test.html
dc=apples

Error backtrace:
[alert] 326#326: worker process 331 exited on signal 11 (core dumped)

*** glibc detected *** nginx: worker process: corrupted d

[2019-05-30 09:56] MurtadhaS opened #66 "ceph"

[2019-06-01 06:01] #66 closed

[2019-06-04 00:33] CpuID commented on #14
Safe to close based on the README @anomalizer ?

[2019-06-09 15:22] elpres101 opened #67 "Support for Roles"
Hi

I'd like to make a feature request for this product (assuming it isn't already possible and I'm just missing something). I'm running nginx with ngx_aws_auth on an EC2 instance running under an IAM Role which has the correct permissions to access the S3 bucket I'm interested in.

Would it be possible to include an option to sign requests based on the credentials of the Role under which the EC2

[2019-06-13 20:22] fx commented on #41
I seem to have tripped on this, or a related issue, when trying to have conditional `auth_basic` in addition to aws auth.

[code]

Results in `401` from S3 when the `if` passes.

[2019-06-26 07:07] colundrum opened #68 "Minio compatibility"
Hi,
I use Minio (min.io) for my object storage which has AWS compatible API.
Is it possible to use this mobile with Minio ?
Thanks

[2019-07-20 05:05] CpuID opened #69 "Signing key validity in README is overestimated"
In https://github.com/anomalizer/ngx_aws_auth#security-considerations

In my experience, they are valid for the date of signing key generation only, as they are date specific.

If you attempt to use a signing key generated on the day before, you will get a `400 Bad Request` from S3 due to:

[code]

Verified over 2 days, in a container with a UTC timezone. Making requests against nginx right after

[2019-08-23 02:42] qdchong commented on #69
anyone encounter this issue as well? I thought the signing key is suppose to last for a week

[2019-08-23 03:39] qdchong opened #70 "Signing Key Expire within a day"
i encountered the error
<Error><Code>AuthorizationHeaderMalformed</Code><Message>The authorization header is malformed; Invalid credential date. Date is not the same as X-Amz-Date.</Message>... after a day.

I thought the signing key was suppose to last for a week. can anyone help? How do i set the X-Amz-Date? Or do  i need to set the amz-expire field??

[2019-08-28 02:56] CpuID commented on #70
I've got the same issue, haven't resolved it yet.

[2019-09-03 20:07] CpuID commented on #70
@qdchong to compare our implementations:

-  we generate a new signing key once a day right now ( [related](https://github.com/anomalizer/ngx_aws_auth/issues/69) )
- I've found that sometimes even after a `SIGHUP` with a new key in the configuration with a newly generated signing key, I still get `AuthorizationHeaderMalformed` errors which is really weird...

[2019-09-05 03:11] CpuID commented on #70
@qdchong can you try implement something looking like https://tenzer.dk/nginx-with-dynamic-upstreams/ in your configs and see if it yields a difference for you? I did it about 2 days ago, so far rolled over UTC twice and haven't had an issue. Not sure if this is what did the job or not, but potentially...

[2019-09-05 03:12] CpuID commented on #69
It's also possible users will need to follow this workaround for "dynamic upstreams", https://tenzer.dk/nginx-with-dynamic-upstreams/ - still waiting to see if it yields the results I expect or not but promising so far.

[2019-09-05 10:34] qdchong commented on #70
Hmm wow i shall try it. I was looking at what other options r there. Thanks so much

[2019-09-22 09:14] melkayam92 commented on #69
@CpuID can u explain more about your solution or provide with an example conf?

thanks

[2019-09-22 09:24] CpuID commented on #69
@melkayam92 https://tenzer.dk/nginx-with-dynamic-upstreams/ Ctrl+f "The free alternative". Basically change the `proxy_pass` to that. Article explains the rationale, tl;dr - nginx DNS resolution doesn't honor TTLs by default.

[2019-09-22 09:24] CpuID commented on #69
I can confirm I haven't been able to repro the issues I had since doing this.

[2019-09-22 10:20] melkayam92 commented on #69
@CpuID  thanks, so basically u regenerate key every day + the dynamic upstreams?

But I still don't understand wats the DNS resolution has to do with key expire issue?

[2019-09-22 11:16] CpuID commented on #69
@melkayam92 yep got a crontab on midnight UTC currently to rotate it, plus dynamic upstreams.

Unconfirmed, but a theory I had is maybe AWS cycle out the S3 backend instances at midnight UTC instead of rotating the keys on the existing instances... 🤷‍♂ :)

[2019-10-06 06:06] #57 closed

[2019-10-30 21:33] vincer opened #71 "Every request generates several lines of error logs"
[code]

Is there a way to disable these or perhaps these should be at debug level?

[2019-11-13 18:24] BrutalSimplicity opened #73 "Possible Error in Readme Examples"
Hi there!! Thank you for writing this module, it has really saved me a ton of time!!

I just wanted to point out a possible issue with two of the examples in the README.

I'm no expert with Nginx, but it appears that the `proxy_pass` directive for the non-root locations is incorrect.

Instead of...

[code]

I believe the path specification is not needed.

I based this on the following Nginx docume

[2019-11-27 19:21] CpuID commented on #69
Damn, my crontab alone didn't seem to resolve this entirely, managed to get the `The authorization header is malformed; Invalid credential date. Date is not the same as X-Amz-Date.` error again.

[2019-11-27 19:22] CpuID commented on #70
I ended up getting the `The authorization header is malformed; Invalid credential date. Date is not the same as X-Amz-Date.` again unfortunately... :( even with our approach in place. Haven't looked deeper at why yet.

[2019-12-03 17:48] AdrianVandierAst commented on #70
Hello :)

The README of this module is wrong.
Look at https://docs.aws.amazon.com/general/latest/gr/sigv4-date-handling.html
The signing key IS usable only for requests signed the same date, maybe your problem is when request are created just before midnight and send just after.
I lost two days on that -_-

So, even if "It is an insecure practise to let the secret key reside on your nginx server."

[2020-01-29 00:15] BrutalSimplicity commented on #71
Added a flag (`NO_AWS_AUTH_LOGS`) that can be used for this during build.
The PR is open here, https://github.com/anomalizer/ngx_aws_auth/pull/74/files.

[2020-01-30 16:49] BrutalSimplicity commented on #70
@AdrianVandierAst

I've got a proposed solution to this that uses temporary credentials and a python script that will regenerate a new signature upon expiration. It's limited by how often it gets run by cron (minutely), but you might be able to have it run continuously and check for expiration ahead of time. I've also thought about using lua for something a bit more robust that doesn't require a h

[2020-02-21 14:48] dbendaou opened #75 "Is there a way to abstract `index.html`"
Hello,
I use this package to serve my S3 buckets as an https server, however, I cannot abstract the `index.html`

I cannot use the https S3 feature direclty because I need it to be served behing a VPN, which is not possible through s3 direclty.

Is their a way to abstract the `index.html` in the url as it wil always be called ?

For example let's way my url is
`https://behind_vpn.com/index.html`
I

[2020-04-03 10:03] Unb9rn opened #76 "Something is wrong with dynamic module compilation"
When trying to build with --add-module everything builds fine and I can see in logs:

But when I am building with --with-compat --add-dynamic-module building fails with:
[code]

[2020-04-28 18:58] tomgillett commented on #76
I experienced the same issue today, PR #61 resolved it for me.

[2020-05-01 21:15] noplanman commented on #17
@anomalizer I get this error too sometimes, is there any fix for this?

Also, what happened to the v4 branch? Is this project abandoned?

[2020-05-31 00:39] hexmarkrecords commented on #70
I wonder if we convert the python code to C++ and include it in the module. It could update the config struct in a lazy fashion. The date found in the key scope should be checked against the current date and if different update the struct with new key scope and signing key. The single requests around midnight UTC will run a little slower but subsequent requests will have normal performance.

[2020-06-02 18:48] hexmarkrecords commented on #70
I'm currently working on a solution - my C is pretty rusty - I should really write some unit tests for it. Will post back once ive tested it in my pre-prod environment.

[2020-06-04 15:45] hexmarkrecords commented on #70
I have produced a forked version that calculates the signing key when the date changes and then  caches it in the configuration. It does break the best practices of keeping the secret key off the nginx server.

Not sure how you would do it otherwise as at 23:59:59:999 a request could be in flight and reach Amazon the following day at 00:00:00:000 with an erroneous timestamp in the key scope and si

[2020-06-05 11:15] hexmarkrecords commented on #70
I have tested it the following day and my assets still load:

https://hexmarkrecords.com

All dynamic assets are now served from S3 without expiry .... Yay

[2020-06-18 12:11] leffuy commented on #54
Was this ever solved? I'm having the same issue using the documentation 1:1

Was this project abandoned and then something changed on amazon's side?

[2020-06-18 16:20] leffuy commented on #70
@hexmarkrecords Trying to use your fork, as I couldn't get the original here to work at all.

Says "unknown direct aws_service" when using your example nginx.conf. Tried taking this out and get returned a 403 with "The request signature we calculated does not match the signature you provided"

using following code

[code]

[2020-06-18 16:29] hexmarkrecords commented on #70
I have something like this:

`
http {
    server {
        listen     8001;

        aws_access_key      %AWS_ACCESS_KEY%;
        aws_secret_key      %AWS_SECRET_ACCESS_KEY%;
        aws_region          %AWS_REGION%;
        aws_s3_bucket       %BUCKET_NAME%;
        resolver 8.8.8.8;

        location / {
            access_log off;
            error_log off;

            aws_sign;
            p

[2020-06-18 16:33] hexmarkrecords commented on #70
i'm gonna look in to the aws_service param as that should be work also. It defaults to 's3' anyway.

[2020-06-18 16:36] hexmarkrecords commented on #70
Spotted an issue with the s3 parameter so i will fix that - but in the mean time it defaults to 's3'. Thanks for letting me know @leffuy

[2020-06-18 16:49] hexmarkrecords commented on #70
pushed to master and created new tag 2.2.2 - fixed missing service optional parameter

[2020-07-08 08:28] mwangaben commented on #70
Hello @hexmarkrecords  i am trying to compile this with nginx-1.19.0 with --add-module=/home/admin/building/ngx_aws_auth-2.2.2, but when i run make this is what i get

`/home/admin/building/ngx_aws_auth-2.2.2/crypto_helper_openssl.c: In function ‘ngx_aws_auth__sign_hmac’:
/home/admin/building/ngx_aws_auth-2.2.2/crypto_helper_openssl.c:58:14: error: storage size of ‘hmac’ isn’t known
     HMAC_CTX

[2020-07-17 12:22] hexmarkrecords commented on #70
I can take a look over the weekend.

[2020-08-08 09:17] hexmarkrecords commented on #70
If you use alpine 3.8 it compiles. Not the best solution but hey.

[2020-08-08 16:01] hexmarkrecords commented on #70
Hi @mwangaben  I have now updated the branch to build a dynamic module exporting it to /private/tmp on the host machine when using docker.

It now works  with Open SSL 1.1.1 and therefore compatible with Nginx 1.19.1.

Hope it helps you out.

[2020-08-09 13:21] hexmarkrecords commented on #70
I wonder if I should try to turn this into a proper pull request for the main repos instead of on a fork?

[2020-08-16 09:07] hexmarkrecords commented on #65
I've solved this problem using
`set $args '';`
Above the proxypass.  This nukes the query paras before the module reads the url hence signs the request correctly. This worked for my use case.

[2020-12-14 16:27] adsanz commented on #35
I have the same error, any news on this?

[2021-05-20 13:30] #14 closed

[2022-01-21 23:48] ashafaei commented on #35
For anyone else who ends up here while searching for a solution. I'm not sure what exactly causes this issue, but there's a workaround. Earlier, I was trying to use reg-exp rules to direct the requests, but that apparently ends up messing with the URI encoding in the request. I followed [this post](https://serverfault.com/questions/459369/disabling-url-decoding-in-nginx-proxy), to set up the proxy